body, h1, ul, li, p{

    margin: 0;
    padding: 0;

}

#sayfa{

background-color: burlywood;
width: 1000px;

}

#ust {

    width: 1000px;
    height: 150px;
    background-color:red;
    
}

.baslik{
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

.baslik2{
    float: none;
    margin-left: 600px;
    margin-top: 30px;
    font-size: 1em;
    color: pink;
    text-decoration: none;
} 
#menu{
    float: left;
  list-style: none;
  margin-top: 3em;
}

#menu li{

    float: left;
    color: white;
    
}

#menu li a{
    color: white;
   
	margin-right: 20px;
	margin-left: 10px;
    text-decoration: none;
 
}
.temizle{
    clear: both;
}
#orta-sol{
	width: 780px;
	margin: 5px 0px 0px 0px;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	text-align: justify;
	background: #EBE4E4;
}

#orta-sag{

    margin-top: 5px;
    margin-left: 5px;
    float: left;
    width : 100px;
}

#orta-sag h3{
	margin: 0px auto;
	text-align: center;
	color: azure;
	font-size: 1.4em;
}
#liste-1{
	list-style: none;
	padding-left: 20px;
	padding-top: 30px;
	
}
 
#liste-1 li{
	padding-top: 10px;
}
#liste-1 li a{
		
	text-decoration: none;
	color: aliceblue;
	font-size: 1.2em;
}
 
.alt{
	width: 1000px;
	background:#130B0B;
	text-align: center;
	margin-top: 5px;
	color: aliceblue;
}
img{
    border: 1px solid black;
   margin-right: 20px;
}

.base img{
    
    width: 200px;
    height: 200px;
    align-content: center;
    margin-top: 100;
    margin-left: 550px;
    
    
}


    
